#ImageDiv {
    width: 50%;
    border-radius: 10px;
}

#PerImg {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 600px) {
    #ImageDiv {
        width: 80%;
        height: 350px;
    }

    #PerImg {
        border-radius: 10px 10px 0 0;
    }

}